@using Sandbox;
@using Sandbox.UI;
@namespace MenuProject.AvatarEditor

<root class="@FavouriteClass @RatingClass">

    <div class="card-image" style="background-image: url( @BackgroundImage )"></div>

</root>

@code
{
    public Package Package { get; set; }

    /// <summary>
    /// Called when the icon part of the card is right clicked
    /// </summary>
    public System.Action OnMenu { get; set; }

    /// <summary>
    /// Called when the org name is pressed
    /// </summary>
    public System.Action OnOrg { get; set; }

    public string HoverIcon { get; set; } = "play_arrow";

    public string BackgroundImage => Package.ThumbWide;

    public int UsersNow { get; set; }

    string FavouriteClass => Package.Interaction.Favourite ? "is-favourite" : "";
    string RatingClass
    {
        get
        {
            if (Package.Interaction.Rating == null) return "";
            if (Package.Interaction.Rating == 0) return "is-rated-up";
            if (Package.Interaction.Rating == 1) return "is-rated-down";

            return "";
        }
    }

    protected override void OnMouseDown(MousePanelEvent e)
    {
        Ancestors.OfType<WorkshopPage>().FirstOrDefault()?.OnPackageSelected(Package);
    }


    void OnCardRightClicked()
    {
        OnMenu?.Invoke();
    }
}
