@using System;
@using Sandbox;
@using Sandbox.UI;
@using System.Threading
@namespace MenuProject.AvatarEditor

<div class="header">
    <ButtonGroup Value:bind="@tab" class="bg-round" ValueChanged="@OnTabChanged">
        <ChildContent>
            <Button Text="Newest" Value="newest"></Button>
            <Button Text="Voted" Value="quality"></Button>
        </ChildContent>
    </ButtonGroup>
</div>

<div class="package-list">

    <VirtualGrid Items=@(FoundPackages) ItemSize=@(128) OnLastCell=@(() => { _ = FetchMore(); })>
        <Item Context="item">
            @if (item is Package package)
            {
                <WorkshopClothingIcon Package=@package></WorkshopClothingIcon>
            }
        </Item>
    </VirtualGrid>
    
</div>



@code
{
    public string tab { get; set; } = "newest";

    public string Query { get; set; }
    public string Group { get; set; }
    public int Take { get; set; } = 400;
    public int Skip { get; set; }

    public System.Action<Package> OnMenu { get; set; }
    public System.Action<Package> OnSelected { get; set; }
    public System.Action<Package> OnOrg { get; set; }
    public System.Action<Package.FindResult> OnResult { get; set; }

    public List<Package> FoundPackages{ get; set; } = [];

    public Package.FindResult Result;

    protected override async Task OnParametersSetAsync()
    {
        Query ??= "";

        await RunQuery();
    }

    void OnTabChanged( object newTab )
    {
        tab = newTab?.ToString();

        Result = default;
        FoundPackages = [];
        StateHasChanged();

        _ = RunQuery();
    }

    async Task RunQuery()
    {
        var query = $"type:clothing sort:{tab}";

        Result = await Package.FindAsync(query, Take, FoundPackages.Count());

        if (Result != null)
        {
            FoundPackages.AddRange(Result.Packages);
            FoundPackages = FoundPackages.ToList();
            OnResult?.Invoke(Result);
        }

        StateHasChanged();
    }

    async Task FetchMore()
    {
        if (Result == null) return;
        if (FoundPackages.Count() >= Result.TotalCount) return;

        await RunQuery();
    }
}
