@namespace Sandbox.Test.Generated
@using Sandbox.UI

<style>
    div
    {
        background-color: red;
    }

    @@keyframes
    {
        from
        {
            border-width: 100px;
        }

        to
        {
            border-width: 100px;
        }
    }

</style>

<div>This panel will have a red background</div>
