@using Sandbox;
@using Sandbox.UI;
@using System.Globalization
@namespace Sandbox.UI
@inherits Panel

<root class=@BuildClass() @onrightclick=@OnCardRightClicked onclick=@OnCardClicked>
    <div class="image" style="background-image: url(@(Image() ?? "/ui/sbox-logo-square.svg"))">
        @if (Package?.Usage.UsersNow > 0)
        {
            <div class="online package-users" title="Playing Now">@Package.Usage.UsersNow</div>
        }
    </div>

    <column>
        <label class="medium package-title">
            @(Package?.Title ?? "Invalid Package")
        </label>

        @if (Package == null)
        {
            <row>
                <label class="eyebrow">
                    We couldn't find that package.
                </label>
            </row>
        }
        else
        {
            <row>
                <icon class="eyebrow">thumb_up</icon>
                <label class="eyebrow">@VotePercentage()</label>
                <div class="grow" />
            </row>
        }
    </column>
</root>

@code {
    public enum SizeType
    {
        Default,
        Small,
        Wide,
        Tall,
        List
    }

    [Parameter] public Package Package { get; set; }
    [Parameter] public SizeType Size { get; set; }

    /// <summary>
    /// Called when the card is clicked
    /// </summary>
    [Parameter] public Action Clicked { get; set; }

    /// <summary>
    /// Called when the card is right clicked
    /// </summary>
    [Parameter] public Action RightClicked { get; set; }
    
    void OnCardClicked() => Clicked?.Invoke();
    void OnCardRightClicked() => RightClicked?.Invoke();

    string BuildClass() => $"package-card {Size.ToString().ToLower()}";

    string VotePercentage()
    {
        if (Package == null) return "Unrated";
        if (Package.VotesUp == 0 && Package.VotesDown == 0) return "Unrated";
        return $"{(int)(Package.VotesUp * 100f / (Package.VotesUp + Package.VotesDown))}%";
    }

    string Image() => Size switch
    {
        SizeType.Tall => Package?.ThumbTall,
        SizeType.Wide => Package?.ThumbWide,
        SizeType.Small => Package?.Thumb,
        SizeType.List => Package?.Thumb,
        _ => Package?.ThumbWide
    };

    protected override int BuildHash() => System.HashCode.Combine(Package?.FullIdent, Package?.Usage.UsersNow);
}
