@using Sandbox
@using Sandbox.UI

@namespace MenuProject.Modals
@inherits MenuProject.Modals.BaseModal

<root>
    <div class="window">
		<div class="content">
			<div class="header">
				<icon class="heading">@Icon</icon>
				<label class="heading">@Title</label>
			</div>
			<div class="body">
				<label class="body">@Message</label>
			</div>
		</div>
		<div class="footer">
			<Button class="clicky primary"  @onclick="@( () => CloseModal( true ) )">Ok</Button>
		</div>
    </div>
</root>

@code
{
	public string Icon { get; set; }
	public string Title { get; set; }
	public string Message { get; set; }
}
