@using Sandbox;
@using Sandbox.UI;
@using Menu;
@using System.Globalization
@namespace Sandbox.UI
@inherits Panel

<root>
    <row>
        <icon class="eyebrow">
            @Icon
        </icon>
        <label class="eyebrow">
            @Title
        </label>
    </row>

    <div class="games">
        @if (Result != null)
        {
            @foreach (var item in Result.Packages)
            {
                <PackageCard Size=@Size Package=@item Clicked="@(() => item.OpenModal())" RightClicked="@(() => MenuHelpers.OpenPackageMenu(this, item))" />
            }
        }
    </div>
</root>

@code {
    [Property] public PackageCard.SizeType Size { get; set; } = PackageCard.SizeType.Default;
    [Property] public string Icon { get; set; }
    [Property] public string Title { get; set; }
    [Property] public string Query { get; set; }
    [Property] public int Limit { get; set; } = 5;

    private Sandbox.Package.FindResult Result { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await UpdateList();
    }

    async Task UpdateList()
    {
        Result = await Package.FindAsync(Query, Limit);

        StateHasChanged();
    }

    protected override int BuildHash()
    {
        return System.HashCode.Combine(Result);
    }
}
