@using MenuProject
@using MenuProject.MenuUI.Components.Notifications
@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox;
@using System;
@namespace Sandbox.UI
@inherits Panel

<root class="@ComputedClass">
    <div class="inner">

        <div class="links">
            <Logo Href="/home" />

            <separator class="vertical" />

            @*
            <Button Href="/hub" Icon="hub">#menu.hub</Button>
            *@

            <Button Tooltip="Find Games" Href="/games/dash" Icon="diamond">Discover</Button>
            <Button Href="/games/all" Icon="sports_esports">Games</Button>
            <Button Href="/maps/all" Icon="map">#menu.maps</Button>
            <Button Href="/multiplayer" Icon="view_list">#menu.multiplayer</Button>
        </div>
        
        <div class="right">
            <Button @onmouseup=@OpenAvatarScene Icon="emoji_people">#menu.avatar</Button>

            <span class="store-wrapper">
                <FeaturedStoreItem />
                <Button Href="/itemstore" class="unread" Icon="store">#menu.store</Button>
            </span>

            <separator class="vertical" />

            <NotificationButton />
            <Button Tooltip="Favourited Games" Href="/games/group?Query=type:game sort:favourite&title=Favourite Games&Icon=💖" icon="favorite"></Button>
            <Button @onmouseup=@Settings Icon="settings"></Button>

            <Button onmouseup="@Quit" class="close" Icon="power_settings_new"></Button>
        </div>

    </div>

    <MainSearchBar />
</root>

@code {
    public string ComputedClass => (this.GetNavigator()?.CurrentUrlMatches("/home") ?? false) ? "clear" : "";

    void Settings()
    {
        Game.Overlay.ShowSettingsModal();
    }

    void Quit()
    {
        ConsoleSystem.Run("quit");
    }

    void OpenAvatarScene()
    {
        var options = new SceneLoadOptions();
        options.ShowLoadingScreen = true;
        options.SetScene("/scenes/avatar.scene");

        Game.ActiveScene.Load(options);
    }

    protected override int BuildHash() => HashCode.Combine(ComputedClass);
}
