@using Sandbox;
@using Sandbox.UI;
@using System.Globalization
@namespace Sandbox.UI
@inherits Panel

<root>
    <Card class="news" style="@( $"background-image: url({NewsImage})" )" onclick=@(OpenNewsUrl)>
        <ChildContent>
            <label class="eyebrow">Latest Update</label>

            <label class="large">
                @NewsTitle
            </label>

            <label class="small">
                @NewsDescription
            </label>
        </ChildContent>
    </Card>
</root>

@code {
    public string NewsTitle { get; set; } = "Loading...";
    public string NewsDescription { get; set; } = "Loading...";
    public string NewsDate { get; set; } = "Loading...";
    public string NewsUrl { get; set; } = "#";

    public string NewsImage { get; set; } = "/ui/placeholder.png";

    public string PlayerCount { get; set; } = "...";
    public string ServerCount { get; set; } = "...";

    private Sandbox.Services.News NewsEntry;

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (!firstTime)
            return;

        _ = GetLatestNews();
        _ = FetchPlayerCount();
    }

    public async Task GetLatestNews()
    {
        var p = await Package.Fetch("facepunch/news", false);
		if ( p is null ) return;

        var news = p.LatestNewsPost;

        NewsTitle = news.Title;
        NewsDescription = news.Summary;
        NewsDate = news.Created.ToString("d MMMM yyyy", CultureInfo.InvariantCulture);
        NewsImage = news.Media;
        NewsUrl = news.Url;

        NewsEntry = news;
    }

    public async Task FetchPlayerCount()
    {
        var playerCount = 0;
        var serverCount = 0;

        var lobbies = await Networking.QueryLobbies();
        foreach (var lobby in lobbies)
        {
            playerCount += lobby.Members;
            serverCount++;
        }

        PlayerCount = playerCount.ToString();
        ServerCount = serverCount.ToString();
    }

    private void OpenNewsUrl()
    {
        MenuUtility.OpenUrl($"https://sbox.game{NewsUrl}");
    }

    protected override int BuildHash() => System.HashCode.Combine(NewsTitle, PlayerCount, ServerCount);
}
