@namespace Sandbox.UI.Dev
@inherits Panel

<root id="DeveloperMode"> 

    <div class="left">
        <ConvarToggle Title="Profiler" ConVar="overlay_profile"></ConvarToggle>
        <ConvarCycle Title="Frame Stats" ConVar="overlay_frame" Values="0,1,2,3" Labels="Off,Basic,Detailed,All"></ConvarCycle>
        <ConvarToggle Title="Allocations" ConVar="overlay_alloc"></ConvarToggle>
        <ConvarToggle Title="Audio" ConVar="overlay_audio"></ConvarToggle>
        <ConvarToggle Title="Network Graph" ConVar="overlay_network_graph"></ConvarToggle>
        <ConvarToggle Title="Network Messages" ConVar="overlay_network_calls"></ConvarToggle>
		<ConvarToggle Title="PostProcess Stack" ConVar="overlay_pp"></ConvarToggle>
		<ConvarToggle Title="GPU Profiler" ConVar="overlay_gpu"></ConvarToggle>
		<ConvarToggle Title="Resources" ConVar="overlay_resources"></ConvarToggle>
        <ConvarToggle Title="Physics Debug" ConVar="physics_debug_draw"></ConvarToggle>
        <ConvarToggle Title="Console Output" ConVar="consoleoverlay" On="True" Off="False"></ConvarToggle>
        <RenderModeSelect></RenderModeSelect>
    </div>

    <div class="center">
        <Console @ref="Console"></Console>
    </div>

    <div class="right">
        <StatsContainer></StatsContainer>
    </div>

</root>


@code
{
    public Console Console { get; set; }

    public static bool Open { get; protected set; }

    bool wasOpen;

    public override void Tick()
    {
        base.Tick();

        if ( Open != wasOpen )
        {
            wasOpen = Open;

            if ( Open )
                Console?.Input?.Focus();
            else
                Console?.Input?.Blur();

            FindRootPanel()?.SetClass( "developermode", Open );
            MenuUtility.SkipAllTransitions();
        }

        SetClass("open", Open);
    }

    public override Panel FindPopupPanel() => this;

    [MenuConCmd("con_toggle")]
    static void ToggleConsole()
    {
        Open = !Open;
    }
}
