@import "/styles/_theme.scss";

CreateGameModal
{
    .window
    {
        z-index: 1000;
        pointer-events: all;
        width: 900px;
        height: 700px;
        flex-direction: row;
        font-family: Poppins;
        background-color: #1c212e;
        border: 2px solid #1c212e;
        border-radius: 12px;
        box-shadow: 2px 2px 64px #000a;
        overflow: hidden;
        gap: 2px;
        flex-direction: column;
    }
}


CreateGameModal .tabs
{
    flex-shrink: 0;
    font-family: Poppins;
    font-size: 14px;
    padding-bottom: 0px;
    flex-direction: column;
    padding: 8px;
	width: 180px;	
    color: rgba(178, 190, 212, 0.8);

    > *
    {
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 8px;
		width: 100%;
    }

    > *:hover
    {
        opacity: 0.8;
        color: white;
    }

    > .active
    {
        opacity: 1;
        font-weight: bold;
        pointer-events: none;
        background-color: #3d88ff;
        color: white;
    }
}

CreateGameModal PackageHero.header
{
    flex-shrink: 0;
}

CreateGameModal .dropdown
{
    cursor: pointer;
}

CreateGameModal .dropdown, TextEntry, .entry
{
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    flex-grow: 1;
    height: 32px;
	background-color: #343a4933;
	border-radius: 4px;
}

CreateGameModal .body
{
    flex-grow: 1;
    flex-direction: row;
}

CreateGameModal .content
{
    flex-direction: column;
	width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    padding: 16px;
    gap: 8px;
    background-color: #161922;
}

CreateGameModal .footer
{
    flex-shrink: 0;
    justify-content: flex-end;
    padding: 16px;
    background: linear-gradient( to bottom, #181b27, #161922 );
}

CreateGameModal .footer .button
{
    padding: 4px 8px;
    border-radius: 8px;
}

.row
{
	flex-direction: row;
	align-items: center;
	font-size: 16px;
	background-color: #323b5233;
	border-radius: 10px;
	min-height: 48px;
	padding: 8px 8px 8px 16px;
	flex-shrink: 0;

	.is-label
	{
		flex-basis: 40%;
		font-weight: 600;
	}

	.control
	{
		gap: 8px;
		flex-basis: 60%;

		.entry
		{
			width: 60px;
		}

		> Button
		{
			flex-grow: 1;
			color: #fff;
			background-color: #343a4933;
		    border-radius: 10px;
			padding: 4px 16px;

			&:hover
			{
				color: #fff;
			}
		}

        > MapSelector
        {
            height: 150px;
        }
	}
}

ButtonGroup
{
	gap: 8px;
	font-family: Poppins;
	font-weight: 500;

	Button
	{
		flex-shrink: 0;
		color: #fffa;
		background-color: #343a4933;
		border-radius: 10px;
		padding: 4px 16px;

		&:hover
		{
			color: #fff;
		}

		&.active
		{
			background-color: #323b527c;
			color: #fff;
		}
	}
}