@namespace MenuProject.Modals.MapModalComponents
@inherits Panel
@using Sandbox;
@using Sandbox.UI;
@using Menu;
@using System;
@using Sandbox.Network

<root>

    <div class="left">

        @if ( LobbyCount > 0 )
        {
			<Button icon="list" Disabled=@(LobbyCount == 0 || !MenuHelpers.HasAuthority) onclick=@OpenLobbyList>@LobbyCount Lobbies</Button>
        }

    </div>

    <div class="right">

		@if (Modal.HasFullPackage)
		{
			@if(GamePackage is null)
			{
                <Button icon="sports_esports" onclick=@SelectGame>Select Game</Button>
			}
			else
			{
                <Button icon="sports_esports" onclick=@SelectGame>@GamePackage.Title</Button>
			}

			<Button icon="play_arrow" class="play" Disabled=@(GamePackage is null || !MenuHelpers.HasAuthority) onclick=@OnPlay>Launch Map</Button>
		}
		else
		{
            <Button icon="play_arrow" class="play disabled" onclick=@OnPlay>Launch Map</Button>
		}


    </div>

</root>

@code
{
    public MapModal Modal {get;set;}
    public Package Package {get;set;}
    public static Package GamePackage { get; set; } = null;
    public static Package MapPackage { get; set; } = null;
    private static string _gamePackageInitializedFor;

    protected override int BuildHash () => System.HashCode.Combine( Package, Modal?.HasFullPackage, LobbyCount, MenuHelpers.HasAuthority );

    int LobbyCount => Modal?.Lobbies?.Count() ?? 0;

    protected override async Task OnParametersSetAsync()
    {
        if ( Package?.FullIdent == _gamePackageInitializedFor ) return;
        _gamePackageInitializedFor = Package?.FullIdent;

        var target = this.Package.Info.ParentPackage;
        if ( !string.IsNullOrWhiteSpace( target ) )
        {
            var package = await Package.FetchAsync( target, false );
            if ( package is not null && package.TypeName == "game" )
            {
                GamePackage = package;
                return;
            }
        }

        GamePackage = await Package.FetchAsync( MenuHelpers.SANDBOX_IDENT, false );
    }

    void OnPlay()
    {
		MenuUtility.CloseAllModals();
		MenuHelpers.CreateGameWithMap(GamePackage.FullIdent, Package);
	}

	void SelectGame()
	{
		Game.Overlay.ShowPackageSelector("type:game sort:rankweek", (pkg) => {
			GamePackage = pkg;
			StateHasChanged();
		});
	}

    void OpenLobbyList()
    {
        Game.Overlay.ShowServerList(new Sandbox.Modals.ServerListConfig(null, Package.FullIdent));
    }
}
