@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox;
@using System;
@using Menu
@inherits Panel
@page "/home"

<div class="page">

    <column>
        <div class="grow" />
        <RewardProgress />
        <News />
    </column>

    <DesktopButtons />

</div>

@code
{
}
