@import "/styles/_theme.scss";

MultiplayerPage
{
	background-color: $default-950;
}

Page
{
	width: 100%;
	max-width: $screen-w-xl;
	margin: auto;

	.pagebody
	{
		margin-top: 16px;
	}
}


MultiplayerPage Button {
	@include border-transparent;
	padding: 3px 6px;
	color: $default-text;
	border-radius: $rounding-small;
	transition: all 150ms ease;
	background-color: $default-800;
	pointer-events: all;

	label, iconpanel {
		font-size: $text-regular;
	}

	.button-hover-menu {
		position: absolute;
		top: -42px;
		right: 0;
	}

	&:hover {
		background-color: $default-800;
	}

	&.active {
		background-color: $primary-blue;
	}
}

MultiplayerPage .filter-heading {
	margin-top: 16px;
}

MultiplayerPage span
{
	gap: 4px;
	flex-wrap: nowrap;
}
