@using System;
@using Sandbox.UI;
@using Sandbox;
@using Menu;
@using Sandbox.Menu;
@inherits Panel

<root>
    <Button onclick="@OpenPopup" Active=@(count > 0) class=@($"circle {(count > 0 ? "unread" : "")}") Icon="notifications"></Button>
</root>

@code 
{
    int count;
    RealTimeUntil timeUntilUpdate = 0;

    async Task UpdateCount()
    {
        count = await MenuUtility.GetNotificationCount();
        StateHasChanged();
    }

    public override void Tick()
    {
        base.Tick();

        if ( !IsVisible )
            return;

        if ( timeUntilUpdate <= 0 )
        {
            timeUntilUpdate = 60 * 5;
            _ = UpdateCount();
        }
    }


    Popup menu;

    void OpenPopup()
	{
		if ( menu is not null && menu.IsVisible )
        {
            menu.Delete();
            menu = null;
            timeUntilUpdate = 0;
            return;
		}

		Popup.CloseAll();

        menu = new NotificationList();
        menu.SetPositioning(this, Popup.PositionMode.BelowRight, 16.0f);
    }

}
