@using Sandbox;
@using Sandbox.UI;

@inherits Panel

<root>
    <Button class="nav-button left" @ref=ScrollLeft @onclick=@(() => Scroll(true)) Icon="chevron_left" />
	<div class="content" @ref=ContentParent>
		@ChildContent
	</div>
	<div class="overlay">
		<div class="fade-left" />
		<div class="fade-right" />
	</div>
	<Button class="nav-button right" @ref=ScrollRight @onclick=@(() => Scroll(false)) Icon="chevron_right" />
</root>

@code
{
    private const float ScrollVelocityFactor = 0.2f;

    Panel ContentParent { get; set; }
    Panel ScrollLeft { get; set; }
    Panel ScrollRight { get; set; }

	private void Scroll( bool left )
	{
		if ( ContentParent is null ) return;

		float xPadding = ContentParent.Box.Padding.EdgeSize.x;

		var remaining = left ? ContentParent.ScrollOffset.x : ContentParent.ScrollSize.x - ContentParent.ScrollOffset.x - xPadding;
		if ( remaining > 0 )
		{
			float velocity = Box.Rect.Width / 20;
			ContentParent.ScrollVelocity = new Vector2( left ? -velocity : velocity, 0f );
		}
	}

	public override void Tick()
	{
		UpdateVisiblity();
	}

	private void UpdateVisiblity()
	{
		float xPadding = ContentParent.Box.Padding.EdgeSize.x;	
		
		var canScrollLeft = ContentParent.ScrollOffset.x > 0;
		var canScrollRight = ContentParent.ScrollOffset.x < ContentParent.ScrollSize.x - xPadding;

		ScrollLeft.SetClass("visible", canScrollLeft && !ContentParent.IsDragScrolling);
		ScrollRight.SetClass("visible", canScrollRight && !ContentParent.IsDragScrolling);

		ContentParent.SetClass("scrollable-left", canScrollLeft);
		ContentParent.SetClass("scrollable-right", canScrollRight);
	}
}
