@import "/styles/_Theme.scss";

ContentBlockHeroItem {
    Card {
        &:hover { sound-in: "ui.button.over"; }
        &:active { sound-in: "ui.button.press"; }

        width: $screen-w-md;
        flex-shrink: 0;
        padding: 0;
        cursor: pointer;
        box-shadow: 0 0 32px $default-900;
    }

    PackageHero {
        width: 100%;
    }

    .play-button {
        background-color: $primary-blue;
        color: $default-text;
        justify-content: center;
        align-items: center;
        border-radius: $rounding-small;
        width: 100%;
        padding: 8px;

        label {
            color: $default-text;
            font-size: $text-regular;
        }

        iconpanel {
            font-size: $text-regular;
        }

        &:hover {
            background-color: $primary-blue-dark;
        }
    }

    // Non-focused items: show only full-card static thumbnail
    &.exiting, &.entering, &.hidden {
        box-shadow: none;

        Card {
            background-color: transparent;
            border: none;
        }

        PackageHero {
            // Show full-card background
            .hero-background {
                opacity: 1;
            }

            // Hide the media section and content
            .hero-media,
            .hero-content {
                opacity: 0;
            }
        }
    }
}
