@using System;
@using Sandbox.UI;
@using Sandbox;
@using Menu;
@inherits Panel;

@if (Packages.Count == 0)
    return;

<root class="flex-column">

    <row>
        <icon class="eyebrow">
            history
        </icon>
        <Label class="eyebrow">
            Keep Playing
        </Label>
    </row>

    @foreach (var p in Packages.Take( 4 ) )
    {
        <PackageCard Size=@PackageCard.SizeType.List Package=@p Clicked="@(() => p.OpenModal())" RightClicked="@(() => MenuHelpers.OpenPackageMenu(this, p))" />
    }

</root>

@code{
    List<Package> Packages = new();

    public Package.ListResult.Grouping Group { get; set; }

    void Select( Package package )
    {
        MenuHelpers.LaunchGame( package.FullIdent );
    }

    protected override async Task OnParametersSetAsync()
    {
        await UpdateLobbies();
    }

    async Task UpdateLobbies()
    {
        var found = await Package.FindAsync( "type:game sort:used", 4, 0, default );

        Packages.Clear();
        Packages.AddRange(found.Packages);

        StateHasChanged();
    }
}
