@namespace MenuProject.Modals.GameModalComponents
@inherits Panel
@using Sandbox;
@using Sandbox.UI;
@using Menu;
@using System;
@using Sandbox.Network
@using Sandbox.Modals
@using Sandbox.DataModel
@using Sandbox.UI.Navigation

<root>

    <div class="left">

	    @if ( IsDedicatedServerOnly )
	    {
		    <Button icon="list" Disabled=@(LobbyCount == 0 || !MenuHelpers.HasAuthority) onclick=@OpenLobbyList>@LobbyCount Servers</Button>
	    }
	    else if ( IsMultiplayerGame )
        {
			<Button icon="list" Disabled=@(LobbyCount == 0 || !MenuHelpers.HasAuthority) onclick=@OpenLobbyList>@LobbyCount Lobbies</Button>
        }

    </div>

    <div class="right">

        @if (Modal.HasFullPackage)
        {
            if (NeedsMap())
            {
                @if (MapPackage is null)
                {
                    <Button icon="map" onclick=@SelectMap>Select Map</Button>
                }
                else
                {
                    <Button icon="map" onclick=@SelectMap>@MapPackage.Title</Button>
                }
            }

            @if ( Package.Info.IsStreamerGame )
            {
                var text = Streamer.IsActive ? $"{Streamer.ViewerCount} Viewers" : "Stream Setup";

                <Button Active=@Streamer.IsActive Text="@text" Icon="settings_input_antenna" class="streaming" @onclick="@(() => Game.Overlay.ShowServiceConnector())"></Button>
            }

            @if (IsVrOnly && !Application.IsVR)
            {
                <Button icon="panorama_photosphere" class="play disabled">VR Only</Button>
            }
            else
            {
	            @if ( IsDedicatedServerOnly )
	            {
					<Button icon="auto_awesome" class="play" Disabled=@(!MenuHelpers.HasAuthority) onclick=@ShowServerList>View Servers</Button>
	            }
	            else
	            {
		            var text = ((!IsMultiplayerGame || IsQuickPlayGame) ? "Play Game" : "New Game");

                    <Button Icon="play_arrow" class="play" Text=@text Disabled=@(!MenuHelpers.HasAuthority || !IsReady()) onclick=@OnPlay />

		            @if (IsMultiplayerGame && !IsQuickPlayGame)
		            {
                        <Button icon="auto_awesome" class="play" Disabled=@(LobbyCount == 0 || !MenuHelpers.HasAuthority) onclick=@OnJoinGame Text="Join Game"></Button>
		            }
	            }
            }
        }
        else
        {
            <Button Icon="play_arrow" class="play disabled">Play Game</Button>
        }
    </div>

</root>

@code
{
    [Parameter] public GameModal Modal {get;set;}
    [Parameter] public Package Package {get;set;}
    [Parameter] public Package MapPackage { get; set; }

    protected override int BuildHash() => System.HashCode.Combine(Package, Modal?.HasFullPackage, IsVrOnly, IsMultiplayerGame, LobbyCount, MenuHelpers.HasAuthority, Streamer.IsActive, Streamer.ViewerCount);

    bool IsVrOnly => Package.Info.IsVrOnly;
    bool IsMultiplayerGame => Package.Tags.Contains("multiplayer") || LobbyCount > 0 || Package.Info.MaxPlayers > 1;
    bool IsQuickPlayGame => Package.Info.IsQuickPlay;
    bool IsDedicatedServerOnly => Package.Info.IsDedicatedServerOnly;
    int LobbyCount => Modal?.Lobbies?.Count() ?? 0;

    protected override async Task OnParametersSetAsync()
    {
        var map = Package.Info.DefaultMap;
        if ( !string.IsNullOrWhiteSpace(map ) )
        {
            MapPackage = await Package.FetchAsync(map, false);
        }
    }

    private void ShowServerList()
    {
        MenuUtility.CloseAllModals();

        MenuSystem.Instance.Url = $"/multiplayer?Package={Package.FullIdent}";
    }

    void OnPlay()
    {
		MenuHelpers.PlayGame( Package, MapPackage );
    }

    async Task<bool> OnJoinGame()
    {
        LoadingScreen.IsVisible = true;
        LoadingScreen.Title = "Finding Game..";
        LoadingScreen.Subtitle = "Please wait while we find a game for you to join.";

        bool success = await MenuUtility.TryJoinLobby(Package.FullIdent);
        if (success)
            return true;
            
        LoadingScreen.IsVisible = false;
        ModalSystem.Instance.Notice( "Join Game Failed", "Couldn't join any available games", "search_off" );
        return false;
    }

    void OpenLobbyList()
    {
        Game.Overlay.ShowServerList(new Sandbox.Modals.ServerListConfig(Package.FullIdent));
    }

    bool NeedsMap()
    {
        if (Package is null) return false;

        if ( Package.Info.UsesCreateGameModal )
            return false;

        if ( Package.Info.HasGameSettings )
            return false;

        if ( Package.Info.NeedsMap ) return true;

        // legacy
        var launchMode = Package.Info.LaunchMode;
        return string.Equals(launchMode, "launcher", StringComparison.OrdinalIgnoreCase);
    }

    bool IsReady()
    {
        if (NeedsMap() && MapPackage is null) return false;
        return true;
    }

    void SelectMap()
    {
        var mapTarget = Package.Info.MapTarget;

        Game.Overlay.ShowPackageSelector($"type:map sort:popular target:{mapTarget}", (pkg) =>
        {
            MapPackage = pkg;
            StateHasChanged();
        });
    }
}
