@namespace MenuProject.Modals.GameModalComponents
@inherits Panel
@using Sandbox;
@using Sandbox.UI;
@using Menu;
@using System;
@using Sandbox.Network
@using Sandbox.Modals
@using Sandbox.DataModel
@using Sandbox.UI.Navigation

<root>

    <div class="left">

	    @if ( IsDedicatedServerOnly )
	    {
		    <Button icon="list" Disabled=@(LobbyCount == 0 || !MenuHelpers.HasAuthority) onclick=@OpenLobbyList>@LobbyCount Servers</Button>
	    }
	    else if ( IsMultiplayerGame )
        {
			<Button icon="list" Disabled=@(LobbyCount == 0 || !MenuHelpers.HasAuthority) onclick=@OpenLobbyList>@LobbyCount Lobbies</Button>
        }

    </div>

    <div class="right">

        @if (Modal.HasFullPackage)
        {
            if (NeedsMap())
            {
                @if (MapPackage is null)
                {
                    <Button icon="map" onclick=@SelectMap>Select Map</Button>
                }
                else
                {
                    <Button icon="map" onclick=@SelectMap>@MapPackage.Title</Button>
                }
            }

            @if (IsVrOnly && !Application.IsVR)
            {
                <Button icon="panorama_photosphere" class="play disabled">VR Only</Button>
            }
            else
            {
	            @if ( IsDedicatedServerOnly )
	            {
					<Button icon="auto_awesome" class="play" Disabled=@(!MenuHelpers.HasAuthority) onclick=@ShowServerList>View Servers</Button>
	            }
	            else
	            {
		            var text = ((!IsMultiplayerGame || IsQuickPlayGame) ? "Play Game" : "New Game");

					<Button Icon="play_arrow" class="play" Disabled=@(!MenuHelpers.HasAuthority || !IsReady()) onclick=@OnPlay>
			            @text
		            </Button>

		            @if (IsMultiplayerGame && !IsQuickPlayGame)
		            {
						<Button icon="auto_awesome" class="play" Disabled=@(LobbyCount == 0 || !MenuHelpers.HasAuthority) onclick=@OnJoinGame>Join Game</Button>
		            }
	            }
            }
        }
        else
        {
            <Button Icon="play_arrow" class="play disabled">Play Game</Button>
        }
    </div>

</root>

@code
{
    [Parameter] public GameModal Modal {get;set;}
    [Parameter] public Package Package {get;set;}
    [Parameter] public Package MapPackage { get; set; }

    protected override int BuildHash() => System.HashCode.Combine(Package, Modal?.HasFullPackage, IsVrOnly, IsMultiplayerGame, LobbyCount, MenuHelpers.HasAuthority);

    bool IsVrOnly => Package.GetMeta<ControlModeSettings>("ControlModes")?.IsVROnly ?? false;
    bool IsMultiplayerGame => Package.Tags.Contains("multiplayer") || LobbyCount > 0 || Package.GetMeta<int>("MaxPlayers", 1) > 1;
    bool IsQuickPlayGame => Package.GetMeta( "LaunchMode", "default" ).ToLower() == "quickplay";
    bool IsDedicatedServerOnly => Package.GetMeta( "LaunchMode", "default" ).ToLower() == "dedicatedserveronly";
    int LobbyCount => Modal?.Lobbies?.Count() ?? 0;

    protected override async Task OnParametersSetAsync()
    {
        var map = Package.GetValue("DefaultMap", "");
        if ( !string.IsNullOrWhiteSpace(map ) )
        {
            MapPackage = await Package.FetchAsync(map, false);
        }
    }

    private void ShowServerList()
    {
        MenuUtility.CloseAllModals();

        MenuSystem.Instance.Url = $"/multiplayer?Package={Package.FullIdent}";
    }

    void OnPlay()
    {
        MenuHelpers.PlayGame( Package );
    }

    async Task<bool> OnJoinGame()
    {
        LoadingScreen.IsVisible = true;
        LoadingScreen.Title = "Finding Game..";
        LoadingScreen.Subtitle = "Please wait while we find a game for you to join.";

        bool success = await MenuUtility.TryJoinLobby(Package.FullIdent);
        if (success)
            return true;
            
        LoadingScreen.IsVisible = false;
        ModalSystem.Instance.Notice( "Join Game Failed", "Couldn't join any available games", "search_off" );
        return false;
    }

    void OpenLobbyList()
    {
        Game.Overlay.ShowServerList(new Sandbox.Modals.ServerListConfig(Package.FullIdent));
    }

    bool NeedsMap()
    {
        if (Package is null) return false;

        if ( Package.GetValue( "UseCreateGameModal", false ) )
            return false;

        var settings = Package.GetMeta<List<GameSetting>>( "GameSettings", null );
        if ( settings is not null && settings.Count > 0 )
            return false;

        if (Package.GetValue("NeedsMap", false)) return true;

        // legacy
        var launchMode = Package.GetMeta("LaunchMode", "default");
        return string.Equals(launchMode, "launcher", StringComparison.OrdinalIgnoreCase);
    }

    bool IsReady()
    {
        if (NeedsMap() && MapPackage is null) return false;
        return true;
    }

    void SelectMap()
    {
        var mapTarget = Package.GetValue("MapTarget", Package.FullIdent);

        Game.Overlay.ShowPackageSelector($"type:map sort:popular target:{mapTarget}", (pkg) =>
        {
            MapPackage = pkg;
            StateHasChanged();
        });
    }
}
