@using System;
@using Sandbox;
@using Sandbox.UI;
@using MenuProject.MenuUI.Popups;
@inherits Panel
@implements PartyRoom.IEventListener
@namespace MenuProject

<root tooltip=@(Friend.IsMe ? "You" : Friend.Name)>

	@if (IsOwner)
	{
		<div class="crown">👑</div>
	}

	@if (IsTalking)
	{
		<IconPanel class="talking">volume_up</IconPanel>
	}

	<Avatar class="large" UserId="@((long)Friend.Id)" />
</root>

@code
{
	public Friend Friend { get; set; }

	public bool IsOwner => PartyRoom.Current?.Owner == Friend || PartyRoom.Current is null && Friend.IsMe;

	public bool IsTalking => soundHandle?.Amplitude > 0;

	private FriendPopup popup;

	private SoundStream soundStream;
	private SoundHandle soundHandle;

	protected override int BuildHash() => System.HashCode.Combine( IsOwner, IsTalking );

	protected override void OnMouseUp(MousePanelEvent e)
	{
		base.OnMouseUp(e);
		
		if ( popup is not null && popup.IsVisible )
		{
			popup.Delete();
			popup = null;
			return;
		}

		Popup.CloseAll();
		popup = FriendPopup.Show(this, Friend, Popup.PositionMode.AboveCenter, 32);
	}

	void PartyRoom.IEventListener.OnVoiceMessage(Friend friend, byte[] data)
	{
		if (friend != Friend) return;

		if (soundStream is null)
		{
			soundStream = new SoundStream(Sound.VoiceSampleRate);
		}

		Sound.UncompressVoiceData(data, samples =>
		{
			if (!soundHandle.IsValid())
			{
				soundHandle = soundStream.Play();
			}

			soundHandle.LipSync.Enabled = true;
			soundHandle.Position = 0;
			soundHandle.ListenLocal = true;
			soundHandle.Loopback = friend.IsMe;
			soundStream.WriteData(samples.Span);
		});
	}

}
