@using Sandbox.UI;
@using Sandbox.Internal;
@using Sandbox;
@namespace MenuProject.Settings
@inherits Panel
@page "/settings/developer"

<root class="page-inner">

    <div class="page-content">

        <h2>Console</h2>

        <row class="with-gaps">
            <cell class="glass with-padding is-label">
                Console Overlay
            </cell>
            <ButtonGroup class="glass with-grow" ButtonClass="glass with-grow with-click" Options=@ConsoleOverlayOptions Value:bind=@ShowConsoleOverlay></ButtonGroup>
        </row>

        <h2>Benchmark</h2>

        <row class="with-gaps">
            <cell class="glass with-padding is-label">facepunch.benchmark</cell>
            <ButtonGroup class="glass with-grow" ButtonClass="glass with-grow with-click" Options=@YesNo Value:bind=@RunMain></ButtonGroup>
        </row>

        <row class="with-gaps">
            <cell class="glass with-padding is-label">facepunch.sbdm</cell>
            <ButtonGroup class="glass with-grow" ButtonClass="glass with-grow with-click" Options=@YesNo Value:bind=@RunSbdm></ButtonGroup>
        </row>

        <row class="with-gaps">
            <Button class="clicky primary with-grow" onclick=@OnRunBenchmarks disabled=@BenchmarkRunning>Run Benchmarks</Button>
        </row>

    </div>

     <div class="with-grow"></div>

     <SettingsFooter OnCancel=@OnCancel OnRestore=@OnRestore OnApply=@OnApply></SettingsFooter>

</root>


@code
{

    List<Option> ConsoleOverlayOptions = new List<Option>()
    {
        new Option("Off", false),
        new Option("On", true),
    };

    List<Option> YesNo = [new Option( "Off", false ), new Option( "On", true )];

    bool ShowConsoleOverlay = false;
    bool RunMain = true;
    bool RunSbdm = false;
    bool BenchmarkRunning = false;

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        if (!firstTime)
            return;

        OnCancel();
    }

    public void OnRestore()
    {
        ConsoleSystem.SetValue("consoleoverlay", false);
        OnCancel();
    }

    public void OnCancel()
    {
        bool.TryParse(ConsoleSystem.GetValue("consoleoverlay"), out bool ShowConsoleOverlay);
    }

    public void OnApply()
    {
        ConsoleSystem.SetValue("consoleoverlay", ShowConsoleOverlay);
    }

    void OnRunBenchmarks()
    {
        if ( BenchmarkRunning || (!RunMain && !RunSbdm) ) return;

        var packages = new List<string>();
        if ( RunMain ) packages.Add( "facepunch.benchmark" );
        if ( RunSbdm ) packages.Add( "facepunch.sbdm" );

        BenchmarkRunning = true;
        Game.Overlay.CloseAll();
        Game.Overlay.RunLocalBenchmarks( packages.ToArray() );
    }

}
